ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    
}

li{
    display: inline-block;
    margin-right: 5px;
    position: relative;

}

a{
    background: #9b59b6;
    color: #fff;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

a:hover{
background: #b203f7ef;
}


ul ul{
position: absolute;
left: -99999px;
top: 38px;
width: 20px;
}
ul li:hover ul{left: 0;}



ul ul a{
    border-radius: 0;
    background: #262626;
    border-bottom: 1px solid #ddd;
}

ul ul a:hover{
background: #0000ff;
}